.logo {
    display: block;
    margin: auto;
}
.container { 
    background-color: gray;
    width: 80vw;
    height: 50vh;
    margin: auto;
    border-radius: 22px;
    overflow-y: auto;
    margin-bottom: 5px;
    padding: 33px;
}
.message {
    padding: 12px;
    background-color: blue;
    color: white;
    width: fit-content;
    margin: 16px 10px;
    border-radius: 21px
}
.left {
    float: left;
    clear: both;
}
.right {
    float: right;
    clear: both;
}
#send-container {
    text-align: center;
}
#message-input {
    width: 320px;
    height: 36px;
    border-radius: 5px;
    border: 2px solid black;
}
.btn {
    height: 36px;
    border-radius: 5px;
    border: 2px solid black;
}