.chat-area {
  flex-grow: 10;
}

.chat-container {
  height: 69vh;
  overflow-y: scroll;
  margin-top: 1em;
  border-radius: 15px;
  box-shadow: 20px 20px 15px 0 #ababab4d, 20px 20px 15px 0 #ababab4d inset;
  background: white;
  width: 90%;
  padding: 0 8px 0 8px;
}

.chatbox {
  border: 2px solid grey;
  border-radius: 15px;
  margin: 5px 0;
  padding: 10px;
  background-color: bisque;
}

.container {
  display: flex;
}

.container.me {
  flex-direction: row-reverse;
}

.me .chatbox {
  background: lightblue;
}
