* {
  margin: 0;
  padding: 0;
}

.main-page {
  display: flex;
  flex-direction: row;
}

.chat-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 426px) {
  .main-page {
    flex-direction: column;
  }
}
