.chat-container{
  border: 2px solid black;
  height: 70vh;
  overflow-y: scroll;
}

.chatbox{
  border: 2px solid grey;
  border-radius: 15px;
  margin: 5px 0;
  padding: 10px;
  background-color: bisque;
}

.container{
  display: flex;
}

.container.me{
  flex-direction: row-reverse;
}

.me .chatbox{
  background: lightblue;
}

.input-box{
  position: fixed;
  bottom: 5px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.input-box input{
  flex-grow: 1;
  
  padding: 8px;
}

.input-box button{
  margin: 0 0 0 5px;
}